*{
    margin: 0px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

body{
    height: 100vh;
}

p{
    opacity: 0;
    position: relative;
    transition: all 400ms;
}

p:hover{
    opacity: 1;
}